body {
  background-color: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
  color: #212529;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1030;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin: 0 auto;
}

.logo-image {
  width: 150px;
}

.account-icon {
  display: flex;
  align-items: center;
  color: #000;
}

.account-icon:hover {
  color: #097d6c;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.account-icon-image {
  width: 25px;
  margin-right: 15px;
  stroke-width: 3;
}

.account-text {
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}

/* SearchSection */
.searchSection {
  text-align: left;
  padding: 125px 200px 50px;
}

.searchSection h1 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.searchSection p {
  font-size: 18px;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  max-width: 400px;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 20px 20px;
  margin: 20px auto;
}

.search-bar-icon {
  width: 25px;
  margin-right: 10px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;  
  background-color: #fff;
  color: #212529;
}

/* FilterSection */
.filterSection {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 50px;
  gap: 20px;
  
}

.filters {  
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.filter-options {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 20px 20px;
  margin: 20px auto;
  flex: 1;
}

.filter-options input, select {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;  
  background-color: #fff;
  color: #212529;
}

/* SubscribeSection */
.subscribeSection {
  padding: 20px;
  text-align: left;
  background-color: #ddd;
}

.subscribeSection h1 {
  font-size: 24px;
}

.subscribeSection p {
  font-size: 16px;
  color: #7e7e7e;
}

.subscribeButton {  
  color: #097d6c;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
}