body {
  font-family: "Montréal", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  color: #212529;
  text-align: left;
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1030;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin: 0 auto;
}

.logo-image {
  width: 150px;
}

.account-icon {
  display: flex;
  align-items: center;
  color: #212529;
}

.account-icon:hover {
  color: #097d6c;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.account-icon-image {
  width: 25px;
  margin-right: 15px;
  stroke-width: 3;
}

.account-text {
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}

/* SearchSection */
.searchSection {
  text-align: left;
  padding-top: 100px;
  padding-left: 200px;
  padding-bottom: 70px;
  padding-right: 400px;
  background-color: #f1f2f3;
  width: 100%;
}

.searchSection h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.searchSection p {
  font-size: 20px;
  padding: 0px 0px 8px;  
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 6px 10px;
  padding-right: 20px;
  width: 650px;
  background-color: #fff;
}

.search-bar-icon {
  width: 40px;
}

.search-bar input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  color: #212529;
}

.search-bar:focus-within::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid #097d6c;
  border-radius: 34px;
}

.search-bar input:focus {
  border-color: transparent;
}

/* FilterSection */
.filterSection {
  display: flex;
  justify-content: left;
  padding-top: 10px;
  padding-left: 200px;
  padding-bottom: 10px;
  padding-right: 400px;
  border-bottom: 1px solid #ced4da;
  width: 100%;
}

.filters {
  display: flex;
  gap: 20px;
}

.filter-options {
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 8px 15px;
  background-color: #fff;
  position: relative;
}

.filter-options input, select {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  width: auto;
  color: #212529;
}

.filter-options:focus-within::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid #097d6c;
  border-radius: 34px;
  background-color: rgba(13, 165, 102, 0.1);
}

/* AlertSubscribeSection */
.alertSubscribeSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;  
  padding-top: 40px;
  padding-left: 200px;
  padding-bottom: 40px;
  gap: 20px;
}

/* SubscribeSection */
.subscribeSection {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  flex: 0 0 325px;
  max-width: 325px;
  margin-right: 400px;
}

.subscribeSection h1 {
  color: #212529;
  font-size: 24px;
  margin: 0px 0px 16px;
  line-height: 32px;
}

.subscribeSection p {
  color: #637381;
  font-size: 16px;
  margin: 0px 0px 16px;
  line-height: 28px;
}

.subscribeButton {
  background-color: transparent;
  color: #097d6c;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: none;
}

.subscribeButton:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  border: none;
}

.arrow-icon {
  width: 45px;
}

/* AlertSection */
.alertSection {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  flex: 1;
}

.alert-list {
  display: flex;
  flex-direction: column;
}

.alert-item {
  padding: 20px;
  border-bottom: 1px solid #ced4da;
  color: #212529;
  text-decoration: none;
}

.alert-item h2 {
  color: #212529;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px;
}

.alert-item:hover {
  color: #212529
}

.alert-item:hover h2 {
  color: #097d6c;
}

.alert-info {
  display: flex;
  flex-direction: column;
}

.subject {
  font-size: 14px;
  font-weight: 700;
  padding: 1px 8px;
  background-color: #DEE2E6;
  width: max-content;
  margin-bottom: 8px;
}

.date-time {
  display: flex;
  gap: 15px;
}

.calendar, .time {  
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #637381;
}

.calendar-icon-image {
  width: 38px;
  margin-right: 5px;
  transform: scaleX(-1);
}

.time-icon-image {
  width: 50px;
  transform: scaleX(-1);  
  margin-right: -4px;
}